In [2]:
import numpy as np 
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [13]:
train = pd.read_csv('train.csv')
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [18]:
train.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

## Printing specific data types in panda

booleans = []


for data in train.dtypes:


    if data  == 'int64':
        booleans.append(True)
        
        
    else :
        booleans.append(False)
'''

'''trainint_list = pd.Series(booleans)


trainint_header  = train.columns[trainint_list]
'''

In [23]:
traindata = train.select_dtypes(exclude = 'object')
traindata

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,40,0,0,0,0,0,8,2007,175000
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,349,0,0,0,0,0,0,2,2010,210000
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,60,0,0,0,0,2500,5,2010,266500
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,366,0,112,0,0,0,0,4,2010,142125
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,736,68,0,0,0,0,0,6,2008,147500

In [28]:
traindataquant = traindata.drop(columns = ['MSSubClass', 'YearBuilt', 'YearRemodAdd','MoSold','YrSold'])
traindataquant

,Id,LotFrontage,LotArea,OverallQual,OverallCond,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,SalePrice
0,1,65.0,8450,7,5,196.0,706,0,150,856,...,2,548,0,61,0,0,0,0,0,208500
1,2,80.0,9600,6,8,0.0,978,0,284,1262,...,2,460,298,0,0,0,0,0,0,181500
2,3,68.0,11250,7,5,162.0,486,0,434,920,...,2,608,0,42,0,0,0,0,0,223500
3,4,60.0,9550,7,5,0.0,216,0,540,756,...,3,642,0,35,272,0,0,0,0,140000
4,5,84.0,14260,8,5,350.0,655,0,490,1145,...,3,836,192,84,0,0,0,0,0,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,62.0,7917,6,5,0.0,0,0,953,953,...,2,460,0,40,0,0,0,0,0,175000
1456,1457,85.0,13175,6,6,119.0,790,163,589,1542,...,2,500,349,0,0,0,0,0,0,210000
1457,1458,66.0,9042,7,9,0.0,275,0,877,1152,...,1,252,0,60,0,0,0,0,2500,266500
1458,1459,68.0,9717,5,6,0.0,49,1029,0,1078,...,1,240,366,0,112,0,0,0,0,142125
1459,1460,75.0,9937,5,6,0.0,830,290,136,1256,...,1,276,736,68,0,0,0,0,0,147500

In [41]:
trainint = train[trainint_header]
trainint

     PassengerId  Survived  Pclass  SibSp  Parch
0              1         0       3      1      0
1              2         1       1      1      0
2              3         1       3      0      0
3              4         1       1      1      0
4              5         0       3      0      0
..           ...       ...     ...    ...    ...
886          887         0       2      0      0
887          888         1       1      0      0
888          889         0       3      1      2
889          890         1       1      0      0
890          891         0       3      0      0

[891 rows x 5 columns]

In [49]:
#data_acquisition = pd.read_table('data_description.txt')
?pd.read_table